@inject ICategoryService CategoryService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inherits LayoutComponentBase

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Shop Morroco</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-row">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="dropdown-divider"></li>
        @foreach (var category in CategoryService.Categories)
        {
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="@category.Url">
            <span class="oi oi-@category.Icon" aria-hidden="true"></span> @category.Name
        </NavLink>
    </li>}

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="product/create">
                <span class="oi oi-pencil oi-account-logout" aria-hidden="true"></span> Add Product
            </NavLink>


        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@LogoutClick">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>


        </li>
    </ul>
</div>
<BlazoredToasts />
@code {private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.LoadCategories();
    }
    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }}




